* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-sherif;
  line-height: 1.4;
  background: black;
  background-size: 9000px;
  background-position: center;
}

a {
  color: darkcyan;
  text-decoration: none;
}

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.headerLink {
  color: aqua;
  font-size: large;
}

p {
  color: #fff;
}

.todoItem {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.todoItem p {
  color: black;
}
